.*.swp
._*
.DS_Store
.git
.npmrc
.hg
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

./.idea/*
./.storybook/*
./charts/*
./config/*
./mail_templates/*
./public/*
./server/*
./src/*
./storybook-static/*
.env
.dockerignore
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.helmignore
.prettierignore
.prettierrc
.styleintrc
Dockerfile
jenkins-x.yml
OWNERS
publish_mails.js
README.md
todos.md